[submodule "backend"]
	path = backend
	url = https://github.com/silvatus/snip-workday-day1
	branch = backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/silvatus/snip-workday-day1
	branch = frontend
[submodule "cli"]
	path = cli
	url = https://github.com/silvatus/snip-workday-day1
	branch = cli
